<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Style and fonts links-->
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet" />
    <!--Font Awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <!--Materialize Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!--Custom SASS/CSS-->
    <title>Document</title>
  </head>
</head>

<body>
  <nav style="background: none;">
    <div class="nav-wrapper">
      <a href="../index.html" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="createTask.html"><i class="material-icons left">create</i>New Task</a>
        </li>
        <li>
          <a href="dashboard.html"><i class="material-icons left">dashboard</i>Dashboard</a>
        </li>
      </ul>
    </div>
    <ul class="sidenav" id="mobile-demo">
      <li>
        <a href="createTask.html"><i class="material-icons left">create</i>New Task</a>
      </li>
      <li>
        <a href="dashboard.html"><i class="material-icons left">dashboard</i>Dashboard</a>
      </li>
    </ul>
  </nav>

  {{{ body }}}
</body>

</html>