 
    <!--Description row-->
    <div class="row">
      <div class="col s6"><h3>Dashboard</h3></div>
      <div style="text-align: right;" class="col s6">hello</div>
    </div>
    <!--Task container-->
    <div class="row">
      <h1 style="text-align: center;">Welcome</h1>
    </div>
    <div class="row">
      <table class="responsive-table highlight">
        <thead>
          <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Assignee</th>
            <th>ETC</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td id="status"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/list.js"></script>