<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-6"> -->
        <div class="col s12 m5">
          <h1 class="header center white-text text-lighten-2">GetTask</h1>
          <div class="row center">
            <h5 class="header col s12 light">A modern project management system for the open source developer</h5>
          </div>
        </div>
        <!-- <div class="col-md-3 col-md-offset-3"> -->
        <div class="col s12 m3"></div>
        <div class="col s12 m4">
          <h4>Sign In</h4>
          <form class="login">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/chalkboard.jpeg" alt="Chalkboard with different colored writing on it"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Task Management</h5>

          <p class="light">Utilize our free open-source task management tool for all of your project management needs.
            Users can navigate to the Tasks page to get started and create a new task. The new task will then be
            displayed on the Tasks page the next time that the user navigates there. Each task will automatically record
            who it was created by, but it can also be assigned to either that same user or another to be completed.
            Users are able to view tasks, both past and present, and will be visually notified on the task list when the
            task is past it's completion date.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Invite Your Team</h5>

          <p class="light">Our solution utilizes user authentication, allowing multiple users to each have their own
            login credentials and permissioned controls. We designed the system so that a team or group of users can all
            track their tasks on the platform simultaneously. Team members can see when a task is assigned in real time,
            preventing them from duplicating effort on the same task. Users can also un-assign tasks so that it can be
            passed over to another team member. When the ticket is un-assigned, the user that first started the task
            will provide an update detailing the work that was completed.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Get Competitive</h5>

          <p class="light">Get competitive with GetTask! We know the tasks won't always be fun, but maybe at least
            tracking them can be. Our leaderboard shows users how they compare to their peers, gamifying the task
            management experience and differentiating the platform from industry competitors. Users who top the
            leaderboards will be rewarded with badges for their achievements. The badges will be tied to the users
            account and will display on the user list view, allowing team members to establish credibility as a top
            performer.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Words could be here if we want</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/kanban.jpeg" alt="A hand choosing from an assortment of post-it notes on a board"></div>
</div>