<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m2">
      </div>
      <div class="col s12 m8">
        <div class="row">
          <div class="col s12 m6">
            <h5>TaskList</h5>
          </div>
        </div>
        </br>
        <div class="row">
          <div class="col s12 m3">
            <button type="submit" class="btn btn-small">All Tasks</button>
          </div>
          <div class="col s12 m3">
            <button type="submit" class="btn btn-small">My Tasks</button>
          </div>
          <div class="col s12 m4">
            <button type="submit" class="btn btn-small">Unassigned</button>
          </div>
          <div class="col s12 m2">
            <a id="btnNew" class="btn-floating btn-large waves-effect waves-light teal"><i
                class="material-icons">add</i></a>
          </div>
        </div>
        <ul class="collection">
          {{#each tasks}}
          {{#unless completed}}
          <li class="collection-item avatar" data-id="{{this.id}}">
            <i class="material-icons circle"></i>
            <p><span id="task-id">{{this.id}}</span><br>
              {{this.title}} <br>
            </p>
            <p class="secondary-content">
              Completion date: {{this.estCompletion}}
            </p>
            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
          </li>
          {{/unless}}
          {{/each}}
        </ul>
        </br>
        </br>
      </div>
      <div class="col s12 m2">
      </div>
    </div>
  </div>
</div>