<link rel="stylesheet" href="/assets/SASS-CSS/createTask/createTask.css" />
<div class="row">
  <div class="btn-wrapper">
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Save
      <i class="material-icons left">save</i>
    </button>
  </div>
</div>
</form>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/new.js"></script>