@mixin background($imgpath, $position: 0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
    size: cover;
    attachment: fixed;
  }
}

.body-style {
  @include background("../../Images/0-5616x3744.jpg", center);
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  padding-left: 30px;
  padding-top: 70px;
  padding-bottom: 20px;
  margin: auto;
}

.card {
  width: 90vw;
  margin: auto;
  border-radius: 0.5rem;
}

.btn-wrapper {
  text-align: center;
}

.btn {
  background-color: #554747d2;
  border-radius: 0.5rem;
}

.datepicker-date-display {
  background-color: #554747d2;
}
